* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #8cc461;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.result_section {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 2em auto;
  border-radius: 13px;
  border: 2px solid #fff;
}
.game_tile {
  margin: 1em;
}
.game_tile p {
  color: #fff;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4px;
}

.score_board {
  display: flex;
  margin: 1em;
}

.user_comp_score {
  margin: 5px 20px 0 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 9px;
  background: #fff;
}
.user_comp_score p {
  margin: 0.2em;
  text-align: center;
  color: #656565;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.7px;
}
#scoreShow {
  margin: 0px 18px 5px 18px;
  color: #252525;
  text-align: center;
  font-family: Roboto;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input-container {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  justify-content: center;
  width: 90%;
  margin: auto auto;
  padding-top: 2em;;
  background-image: url("assests/triangle.svg");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: center center;
  column-gap: 5em;
}

.input-container.remove {
  display: none;
}
.rock {
  padding: 25px 20px 25px 20px;
  margin-bottom: 2em;
  border: 15px solid hsl(39, 89%, 49%);
  border-radius: 50%;
  background-color: #fff;
  grid-area: a;
  cursor: pointer;
  align-self: start;
}
/* .rock img {
  width: 55px;
} */

.scissor {
  padding: 25px 35px 25px 35px;
  margin-bottom: 2em;
  border: 15px solid hsl(230, 89%, 62%);
  border-radius: 50%;
  background-color: #fff;
  grid-area: b;
  cursor: pointer;
}
/* .scissors img {
  width: 55px;
} */

.paper {
  padding: 25px 25px 15px 25px;
  border: 15px solid hsl(349, 71%, 52%);
  border-radius: 50%;
  background-color: #fff;
  grid-area: c;
  justify-self: center;
  cursor: pointer;
  margin-bottom: 2em;
}
/* .paper img {
  width: 55px;
} */

.display_container {
  display: none;
}

.display_container.show {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  gap: 4em;
}

.rules.show {
  font-family: "Roboto", sans-serif;
  width: 260px;
  position: absolute;
  right: 5%;
  top: 34%;
  border: 6px solid white;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #004429;
  color: white;
  border-radius: 7px;
}

.rules {
  display: none;
}

.rules_container_p {
  align-content: center;
  color: #fff;
  font-family: Roboto;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rules_container_details {
  padding: 10px 20px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: square;
}

.popup_close {
  position: absolute;
  top: -13%;
  right: -13%;
  background-color: #ff0000;
  font-size: 28px;
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border: 6px solid white;
  font-weight: 600;
}

.rulesandnext_btn {
  display: flex;
}

.rules_btn {
  position: absolute;
  top: 80%;
  right: 2%;
  margin-right: 110px;
  padding: 5px 10px;
  border: 2px solid white;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

/* for hurry page  */

.next {
  display: none;
}

.next.show {
  display: flex;
  position: absolute;
  top: 80%;
  right: 0%;
  margin-right: 40px;
  padding: 5px 10px;
  border: 2px solid white;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}


.main.hide{
  display: none;
}
.hurrymsg{
  display: none;
}

.hurrymsg.show{
  display: flex;
}
