body {
  background: #8cc461;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.result_section {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 158px;
  border-radius: 13px;
  border: 2px solid #fff;
  background: rgba(28, 48, 120, 0);
}
.game_tile {
  height: 100px;
  width: 235px;
  margin-top: 0;
}
/* .game_tile p {
  border: 2px solid red;
  color: #fff;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4px;
} */

.score_board {
  display: flex;
  gap: 10px;
}

.compt_score {
  width: 139px;
  height: 128px;
  border-radius: 9px;
  background: #fff;
}
.your_score {
  width: 139px;
  height: 128px;
  border-radius: 9px;
  background: #fff;
}
.input-container {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  justify-content: center;
  width: 90%;
  margin: auto auto;
  /* background-image: url(https://luuiskame.github.io/rock-paper-scissors-game/rock-paper-scissors-master/images/bg-triangle.svg); */
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center center;
  column-gap: 3em;
}

.input-container.remove {
  display: none;
}
.rock {
  padding: 25px 25px 15px 25px;
  margin-bottom: 2em;
  border: 15px solid hsl(39, 89%, 49%);
  border-radius: 50%;
  background-color: #fff;
  /* grid-area: hand-space; */
  grid-area: a;
  cursor: pointer;
  align-self: start;
}
.rock img {
  width: 55px;
}

.scissor {
  padding: 25px 25px 15px 25px;
  margin-bottom: 2em;
  border: 15px solid hsl(230, 89%, 62%);
  border-radius: 50%;
  background-color: #fff;
  /* grid-area: scissors-space; */
  grid-area: b;
  cursor: pointer;
}
.scissors img {
  width: 55px;
}

.paper {
  padding: 25px 25px 15px 25px;
  border: 15px solid hsl(349, 71%, 52%);
  border-radius: 50%;
  background-color: #fff;
  /* grid-area: rock-space; */
  grid-area: c;
  justify-self: center;
  cursor: pointer;
  margin-bottom: 2em;
}
.paper img {
  width: 55px;
}

.display_container {
  display: none;
}

.display_container.show {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  gap: 4em;
}
